body{
	background-image: url("../images/grid.jpg");
	font-family: 'Open Sans'
	font-weight: 300;
}

h1{
	font-family: 'Open Sans';
	font-weight: 700;
	color: #F2F2F2;
	text-align: center;
	font-size: 72px;
}

h2{
	font-family: 'Open Sans';
	font-weight: 300;
	color: #F2F2F2;
	text-align: center;
	font-size: 18px;
	margin-bottom: 2em;
}

.footer{
	background-color: #262625;
	color: #F2F2F2;
	font-weight: 300;
	padding-top: 3em;
	padding-bottom: 3em;

}

.social{
	color: pink;
	font-size: 24px;

}

.social:hover{
	color: #BC0D35;
}

h3{
	font-weight: 300;
}

.center{
	text-align: center;
}

#wrapper{
	background-image: url(../images/b&wicecream.jpg);
	background-size: cover;
	height: 550px;
	text-align: center;
	padding-top: 3em;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#spacer{
	height: 30em;
	margin-top: 5em;
}

.height{
	font-size: 0.9em;
}

#spacer p{
	font-family: 'Open Sans';
	font-weight: 300;
	letter-spacing: 2px;
}

#spacer img{
	padding-bottom: 1em;
}


.transparent{
	background-color: rgba(234, 5, 84, 0.5);
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.transparent .navbar-brand,
.transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 20px;
}

.transparent .navbar-nav > li > a:hover,
.transparent .navbar-nav > li > a:active,
.transparent .navbar-nav > li > a:focus,
.transparent .navbar-nav > .open > a,
.transparent .navbar-nav > .open > a:hover,
.transparent .navbar-nav > .open > a:focus {
  color: pink;
  background-color: rgba(0, 0, 0, 0.3);
}

.transparent .navbar-brand:hover,
.transparent .navbar-brand:active,
.transparent .navbar-brand:focus {
  color: white;
}

.navbar-height{
	height: 3em;
}

.space-title{
	margin-bottom: 50px;
}











